#p1 {
    color: blue;
    background-color: blueviolet;
}
.goa {
    color: brown;
    background-color: blue;
}
.goa h1{
    text-align: center;
}
#hello{
    color: darkolivegreen;
    background-color: dimgray;
    text-align: center;
}