body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.color-div {
    width: 250px;
    height: 250px;
    background-color: blue;
    transition: background-color 2s;
}
.color-div:active {
    background-color: red;
}