body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.animated-box {
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: boxAnimation;
    animation-duration: 3s;
}

@keyframes boxAnimation {
    0% {
        width: 100px;
        height: 100px;
        background-color: green;
    }
    50% {
        width: 150px;
        height: 150px;
        background-color: yellow;
    }
    100% {
        width: 200px;
        height: 200px;
        background-color: red;
    }
}